<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            自定义菜单统计
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/">首页</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">自定义菜单设置</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li><a href="#">自定义菜单统计</a></li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<div class="row">
        <div class="col-md-12">
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet box red">
                <div class="portlet-title">
                    <div class="caption"><i class="fa fa-comments"></i>自定义菜单统计</div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                        <a href="#portlet-config" data-toggle="modal" class="config"></a>
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                </div>
                <div class="portlet-body" style="display: block; ">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>名称</th>
                                <th>点击量</th>
                                <th>比例</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td class="active">曼联</td>
                                <td class="success">33445</td>
                                <td class="warning">warning</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td class="active">澳大利亚</td>
                                <td class="success">545</td>
                                <td class="warning">warning</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td class="active">西班牙</td>
                                <td class="success">6666</td>
                                <td class="warning">warning</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td class="active">active</td>
                                <td class="success">345</td>
                                <td class="warning">warning</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
        </div>

    </div>
</div>
