<style type="text/css">
    .picmsg_mask {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        filter: alpha(opacity = 60);
        -moz-opacity: .6;
        -khtml-opacity: .6;
        opacity: .6;
        z-index: 1;
    }
    .icon_card_selected {
        background: url("/assets/img/base_z1f0ee8.png") 0 -3643px no-repeat;
        width: 46px;
        height: 46px;
        vertical-align: middle;
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -23px;
        margin-left: -23px;
        line-height: 999em;
        overflow: hidden;
        z-index: 1;
    }
</style>

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">选择回复的图文消息</h4>
        </div>
        <!-- modal-body -->
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <!-- table-responsive -->
                    <div class="table-responsive">
                        <!--<div class="scroller" style="height:400px" data-always-visible="1" data-rail-visible1="1">-->
<%  var num = 3; %>
                        <% picmsgs.forEach(function(picmsg, index){  %>

                            <% if (index % num == 0 ) { %>
                                <div class="row">
                            <% } %>

                            <div class="col-sm-6 col-md-4">
                                <div class="thumbnail">
                                    <h3><%= picmsg.title %></h3>
                                    <img src="<%= picmsg.picurl %>" alt="100%x200"
                                         style="width: 100%; height: 200px; display: block;"
                                         data-src="holder.js/100%x200">

                                    <div class="caption">
                                        <p><%= picmsg.description %></p>
                                        </p>
                                    </div>
                                    <div class="picmsg_mask">
                                        <i class="icon_card_selected">已选择</i>
                                    </div>
                                </div>

                            </div>
                             <!-- end one msg -->

                            <!-- add </div> when last msg very row -->
                            <% if (index % num == (num-1)  ) { %>
                                </div>
                             <% } %>

                        <% }); %>

                        <!-- 不是3的整数倍补结束符 -->
                        <% if ((picmsgs.length % num) != (num-1) ) { %>
                            </div>
                         <% } %>
                <!--</div>-->
                </div>
                <!-- end table-responsive -->
            </div>
        </div>
    </div>
    <!-- end modal-body -->
    <div class="modal-footer">
        <button type="button" class="btn default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn blue picmsg_btn_sure" data-dismiss="modal">确定</button>
    </div>
</div>
<!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->

<script>
    $(".modal .table-responsive .thumbnail").hover(
            function () {
                $(this).css('cursor','pointer');
                $(this).find('.picmsg_mask').show();
            },
            function () {
                $(this).css('cursor','default');
                if (!$(this).find('.picmsg_mask').hasClass('selected')) {
                    $(this).find('.picmsg_mask').hide();
                }
            }
    );
    $(".modal .table-responsive .thumbnail").click(
            function () {
                $(".modal .table-responsive .selected .icon_card_selected").hide();
                $(".modal .table-responsive .selected").hide().removeClass('selected');
                $(this).find('.picmsg_mask').addClass('selected');
                $(this).find('.picmsg_mask').show();
                $(this).find('.picmsg_mask .icon_card_selected').show();
            }
    );
    $(".picmsg_btn_sure").on("click", function() {
        if ('#response_show') {
            var newpic = $('.modal .table-responsive .thumbnail .selected').parent('.thumbnail').clone();
            newpic.find('.selected').hide();
            $('#response_show').html('');
            $('#response_show').append(newpic);
        }
    });
</script>